@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap"); */

:root {
  margin: 0 !important;
  padding: 0 !important;
  font-family: "Poppins";
}

html,
body {
  margin: 0 !important;
  font-family: "Poppins";
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-thumb {
  background-color: #fff;
  border-radius: 50px;
}

::-webkit-scrollbar-track {
  background-color: #909090;
}

@supports (scrollbar-color: #fff #909090) {
  * {
    scrollbar-color: #fff #909090;
    scrollbar-width: auto;
  }
}

/* CSS or SCSS */
.custom-scrollbar::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: #fff;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #77c360;
  border-radius: 50px;
}
